* {
    margin: 0;
    padding: 5px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
}

/* BARRA DE NAVEGACIÓN */

nav {
    background-color: #444;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
nav a:hover {
    background-color: #666;
    transform: scale(1.1);
}
/* SECCIÓN INFORMACIÓN */

.informacion {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin: 20px;
}

.informacion div {
    background-color: #dcd6f7;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
}
/* SECCIÓN MODALIDADES */

.modalidades {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;       
    justify-content: center;
    margin-top: 2rem;
}

.item {
    
    flex: 1 1 calc(33.333% - 15px); 
    
    background-color: #1d3557; 
    color: white;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}

/* Efecto al pasar el ratón para que parezca interactivo */
.item:hover {
    background-color: #e63946; 
    transform: translateY(-5px); 
}

/* Ajuste para móviles (1 sola columna) */
@media (max-width: 768px) {
    .item {
        flex: 1 1 100%;
    }
}

/* ANIMACION */ 
.modalidades div {
    background-color: #a29bfe;
    padding: 15px 25px;
    border-radius: 6px;
    text-align: center;
    transition: transform 0.3s ease;
}

.modalidades div:hover {
    transform: translateY(-8px);
}
/* Estilo para la imagen*/
main img {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}